# Base de données MariaDB
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Backend
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=
PORT=3000
CORS_ORIGIN=http://localhost:4200
